{% extends 'base.html' %}
{% load static %}
	{% block content %}
	<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_5.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
				<div class="col-md-7 ftco-animate">
					<span class="subheading">Pacificga Hush kelibsiz!</span>
					<h1 class="mb-4">O`zingizning orzuyingizdagi joylarni Biz bilan aylaning</h1>
					<p class="caps">Dunyoning istalgan nuqtasini Biz bilan zabt eting</p>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section ftco-no-pb ftco-no-pt">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="ftco-search d-flex justify-content-center">
						<div class="row">
							<div class="col-md-12 nav-link-wrap">
								<div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
									<a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Tur qidiruv</a>

									<a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Mehmonxona</a>

								</div>
							</div>
							<div class="col-md-12 tab-wrap">
								
								<div class="tab-content" id="v-pills-tabContent">

									<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
										<form action="#" class="search-property-1">
											<div class="row no-gutters">
												<div class="col-10 d-flex">
													<div class="form-group p-4 border-0">
														<label for="#">Joylar</label>
														<div class="form-field">
															<div class="icon"><span class="fa fa-search"></span></div>
															<input type="text" class="form-control" placeholder="Qidiruv...">
														</div>
													</div>
												</div>
												<div class="col-2 d-flex">
													<div class="form-group d-flex w-100 border-0">
														<div class="form-field w-100 align-items-center d-flex">
															<input type="submit" value="Search" class="align-self-stretch form-control btn btn-primary">
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>

									<div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
										<form action="#" class="search-property-1">
											<div class="row no-gutters">
												<div class="col-lg d-flex">
													<div class="form-group p-4 border-0">
														<label for="#">Joylar</label>
														<div class="form-field">
															<div class="icon"><span class="fa fa-search"></span></div>
															<input type="text" class="form-control" placeholder="Qidiruv">
														</div>
													</div>
												</div>
												<div class="col-2 d-flex">
													<div class="form-group d-flex w-100 border-0">
														<div class="form-field w-100 align-items-center d-flex">
															<input type="submit" value="Search" class="align-self-stretch form-control btn btn-primary p-0">
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section services-section">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
						<div class="w-100">
							<span class="subheading">Pacificga Hush kelibsiz</span>
							<h2 class="mb-4">Sizning sayohat qilish vaqtingiz keldi</h2>
							<p>O`zbekistondagi yetakchi sayyohlik agentligi Pacific Tourismda biz sizga sayohatingizni rejalashtirishda yordam beramiz. Faqat sayohat emas, balki hayajonli va hayotni boyituvchi tajribalar bilan to'ldirilgan ajoyib sayohatlar bo`lishini ham ta`minlaymiz. </p>
							<p>Bizning sayyohlik agentlarimiz O'zbekistondagi murakkab marshrutlarni tuzish bo`yicha ko`p tajribaga ega mutaxassislardir.</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
								<div class="services services-1 color-1 d-block img" style="background-image: url({% static 'images/services-1.jpg' %});">
									<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-paragliding"></span></div>
									<div class="media-body">
										<h3 class="heading mb-3">Faoliyatlar</h3>
									</div>
								</div>      
							</div>
							<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
								<div class="services services-1 color-2 d-block img" style="background-image: url({% static 'images/services-2.jpg' %});">
									<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
									<div class="media-body">
										<h3 class="heading mb-3">Sayohat tadbirlari</h3>
									</div>
								</div>    
							</div>
							<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
								<div class="services services-1 color-3 d-block img" style="background-image: url({% static 'images/services-3.jpg' %});">
									<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tour-guide"></span></div>
									<div class="media-body">
										<h3 class="heading mb-3">Shaxsiy qo'llanma</h3>
									</div>
								</div>      
							</div>
							<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
								<div class="services services-1 color-4 d-block img" style="background-image: url({% static 'images/services-4.jpg' %});">
									<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span></div>
									<div class="media-body">
										<h3 class="heading mb-3">Joylashuv menejeri</h3>
									</div>
								</div>      
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center pb-4">
					<div class="col-md-12 heading-section text-center ftco-animate">
						<span class="subheading">Joylar</span>
						<h2 class="mb-4">Tur Joylar</h2>
					</div>
				</div>
				<div class="row">
					{% for destination in destinations %}
					<div class="col-md-4 ftco-animate">
						<div class="project-wrap">
							<a href="#" class="img" style="background-image: url({{destination.img.url}});">
								<span class="price">${{destination.price}}/odam</span>
							</a>
							<div class="text p-4">
								<span class="days">{{destination.days}} kunlik tur</span>
								<h3><a href="#">{{destination.title}}</a></h3>
								<p class="location"><span class="fa fa-map-marker"></span> {{destination.place}}</p>
								<ul>
									<li><span class="flaticon-shower"></span>{{destination.bathroom}}</li>
									<li><span class="flaticon-king-size"></span>{{destination.bedroom}}</li>
								</ul>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		
		<section class="ftco-section ftco-about img"style="background-image: url({% static 'images/bg_4.jpg' %});">
			<div class="overlay"></div>
			<div class="container py-md-5">
				<div class="row py-md-5">
					<div class="col-md d-flex align-items-center justify-content-center">
						
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-about ftco-no-pt img">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-12 about-intro">
						<div class="row">
							<div class="col-md-6 d-flex align-items-stretch">
								<div class="img d-flex w-100 align-items-center justify-content-center" style="background-image:url({% static 'images/about-1.jpg' %});">
								</div>
							</div>
							<div class="col-md-6 pl-md-5 py-5">
								<div class="row justify-content-start pb-3">
									<div class="col-md-12 heading-section ftco-animate">
										<span class="subheading">Biz haqimizda</span>
										<h2 class="mb-4">Biz bilan sayohatingizni esda qolarli va xavfsiz qiling</h2>
										<p>Kompaniyamiz ancha yildan buyon ishlab keladi. Bu vaqt ichida ko`pchilikning ishonchini oqlashga erishdik. Hozirda Bizga ishonadigan ko`plab mijozlarimiz bor.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center pb-4">
					<div class="col-md-12 heading-section text-center ftco-animate">
						<span class="subheading">Blog</span>
						<h2 class="mb-4">Oxirgi postlar</h2>
					</div>
				</div>
				<div class="row d-flex">
					{% for post in posts %}
					<div class="col-md-4 d-flex ftco-animate">
						<div class="blog-entry justify-content-end">
							<a href="{% url 'blog_detail' post.id %}" class="block-20" style="background-image: url({{post.thumbnail.url}});">
							</a>
							<div class="text">
								<div class="d-flex align-items-center mb-4 topp">
									<div class="one">
										<span class="day">{{ post.created_at|date:'d' }}</span>
									</div>
									<div class="two">
										<span class="yr">{{post.created_at|date:'Y'}}</span>
										<span class="mos">{{post.created_at|date:'F'}}</span>
									</div>
								</div>
								<h3 class="heading"><a href="#">{{post.title}}</a></h3>
								<!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> -->
								<p><a href="{% url 'blog_detail' post.id %}" class="btn btn-primary">Batafsil</a></p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>

		{% endblock %}